@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f7f9fa;
}

header {
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url(images/banner-949931_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    text-shadow: 5px 5px 5px #000000;
}

h1 {
    text-align: center;
    font-size: 6rem;
    font-weight: 900;
    padding: 4% 0% 2% 0%;
}

.header-subtitle {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    padding-bottom: 3%;
}

.movie-generator {
    margin: 3% auto 1% auto;
    width: 75%;
    text-align: center;
}

.type-instructions {
    font-size: 2em;
    font-weight: 500;
}

.btn {
    margin: 3% 4% 2% 4%;
    padding: 0.5% 2%;
    font-size: 1.5rem;
    color:#ffffff;
    background-color: #044D8C;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #011F26;
}

.btn:hover {
    transform: scale(1.1);
    background-color: #027FC0;
}

#intro {
    margin-top: 2%;
    font-size: 1.2rem;
    line-height: 1.3;
}

#movieInfo {
    display: flex;
    justify-content: space-around;
    max-width: 85%;
    margin: 0 auto 5% auto;
}

#movieText {
    padding: 4% 0;
    width: 50%;
}

#movieText p {
    font-size: 1.3rem;
    line-height: 1.3;
    max-width: 80%;
}

#moviePoster {
    width: 50%;
    display: flex;
    justify-content: right;
}

#movieRating,
#movieReleaseDate,
#firstAirDate
{
    font-weight: 500;
    margin-top: 4%;
}

img {
    width: 100%;
    margin: 5%;
    align-self: right;
}

h2 {
    font-size: 2.25rem;
    padding-bottom: 1.5%;
    font-weight: 500;
}

#mediaType {
    padding-bottom: 4%;
    font-weight: 500;
    font-size: 1.5rem;
}
